.modal {
    width: 80%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal h2 {
    margin-top: 0;
    margin-bottom: 16px;
    text-align: left;
}

.modal p {
    margin: 8px 0;
    text-align: left;
}

.modal textarea {
    width: 100%;
    min-height: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
}

.inputGroup {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 100%;
    align-items: center;
}

.inputGroup input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  